@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

:root, .light {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #99cc98;
  --outground: #dfdfdf;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #99cc98;
  --outground: #161616;
}

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-outground: var(--outground);
}
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -ms-overflow-style: none;
}

.section {
  background-color: var(--foreground);
  color: var(--background);

  border-radius: 1em;
  margin-bottom: 1em;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  width: 100dvw;
}

.container {
  max-width: 1500px;
  width: 90%;
}