@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

:root, .light {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #99cc98;
  --card: #f5f5f5;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #99cc98;
  --card: #262626;
}

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.section {
  background-color: var(--foreground);
  color: var(--background);

  border-radius: 1em;
  margin-bottom: 1em;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  width: 100dvw;
}

.container {
  max-width: 1500px;
  width: 90%;
}